html{
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
}

/*餈質*/
.header{
  background-color: #bce2e8;
  height:50px;
  font-size:1.5rem;
}
/*餈質*/
.logo_image{
  float: left;
  width: 110px;
  margin: 0;
}

.top_menu li {
  float: left;
  width: auto;
}
ul.top_menu {
  float: right;
}

.clearfix:after{
  content:"";
  display: block;
  clear: both;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}

.image_area{
  width: 100%;
}
.side_menu li{
  background-color: #bce2e8;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li a{
  font-size:2rem;
  color:#fff;
  text-decoration: none;
  display: block;
  padding:2rem;
}
.banner img{
  width: 100%;
}
.banner{
  margin-top: 20px;
}

.side_menu{
  width: 300px;
  float: left;
}
.wrapper{
  margin-top: 10px;
   padding-bottom: 100px;
}
.side_menu li:hover{
  opacity: 0.6;
}
.banner a:hover {
  opacity: 0.6;
}

.content{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
}
.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow:scroll;
  line-height: 2;
}
.footer{
  background-color: #4D4D4D;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
   display: table;

}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.container {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.banner_content {
  margin-top: 10px;
  display: table;
}
.banner_content p {
  display: table-cell;
}
.banner_content p img {
  width: 100%;
}
.side_menu .point{
  background-color: #FCECEC;
}
.side_menu .point a{
  color:#4D4D4D;
}
